<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!--<link href="css/StyleSheet.css" rel="stylesheet">-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--<link href="css/effect.css" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta charset="utf-8">-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link rel='stylesheet prefetch' href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css'>-->
    <!--<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>-->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>-->
    <!--<script src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js'></script>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<script src="https://unpkg.com/vue"></script>-->
    <!---->
    <meta charset="UTF-8">
    <link href="css/StyleSheet.css" rel="stylesheet">
    <script src="js/jsdelivr"></script>
    <link href="css/effect.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/maxcdn.css">
    <script src="js/jquery.js"></script>
    <script src="js/maxcdn.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="css/googleapis.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='css/rawgit.css'>
    <script src='js/jquery1.js'></script>
    <script src='js/cloudeflare.js'></script>
    <script src='js/rawgit1.js'></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/unpkg.js"></script>
    <meta name="viewport" content="initial-scale=1">
    <title>Login Page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
            <img id="Target" class="my_image" src="pictures/most_popular_twitter_topics.png">
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="login-form">
                <div id="Login">
                    <transition name="custom-classes-transition"
                                enter-active-class="animated zoomIn"
                                leave-active-class="animated zoomOut">
                        <div v-show="return_global()" class="main-div card">
                            <div class="panel">
                                <h2>به وبسایت ما خوش آمدید</h2>
                                <p>لطفا نام کاربری و کلمه عبور خود را وارد کنید</p>
                            </div>
                            <form class="form-group card-body">
                                <input type="hidden" name="state" value="login" disabled/>
                                <input class="form-control1" type="text" placeholder="نام کاربری یا ایمیل"
                                       autocomplete='on'
                                       required/>
                                <div class="buttonInside">
                                    <input :type="passwordFieldType" v-model="password" name="pass" id="password"
                                           class="form-control1"
                                           placeholder="رمز عبور" required/>
                                    <button class="eye_btn" type="button" v-on:mousedown="show_hide_pass"
                                            v-on:mouseup="show_hide_pass">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                                <br/>
                                <a class="forget_link" href="">ایمیل خود را فراموش کرده اید؟</a>
                                <br/>
                                <button class="btn btn-primary" type="submit">ورود</button>
                                <div>
                                    <button class="btn btn-primary1" type="button" @click="change_pages">ثبت نام
                                    </button>
                                </div>
                            </form>
                        </div>
                    </transition>
                </div>
                <div id="SignUp">
                    <transition name="custom-classes-transition"
                                enter-active-class="animated zoomIn"
                                leave-active-class="animated zoomOut">
                        <div v-show="!return_global()" class="main-div card">
                            <div class="panel">
                                <h2>به وبسایت ما خوش آمدید</h2>
                                <p>لطفا مشخصات خود را وارد کنید</p>
                            </div>
                            <form class="form-group card-body">
                                <input type="hidden" name="state" value="register" disabled/>
                                <input class="form-control1" type="text" placeholder="نام" required/>
                                <input class="form-control1" type="text" placeholder="نام خانوادگی" required/>
                                <input class="form-control1" type="text" placeholder="نام کاربری" required/>
                                <div class="buttonInside">
                                    <input class="form-control1" :type="passwordFieldType" v-model="password"
                                           placeholder="کلمه عبور" required/>
                                    <button class="eye_btn" type="button" v-on:mousedown="show_hide_pass"
                                            v-on:mouseup="show_hide_pass">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                                <div class="buttonInside">
                                    <input class="form-control1" :type="repasswordFieldType" v-model="re_password"
                                           placeholder="تکرار کلمه عبور" required/>
                                    <button class="eye_btn" type="button" v-on:mousedown="show_hide_repass"
                                            v-on:mouseup="show_hide_repass">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                                <input class="form-control1" type="email" placeholder="ایمیل" required/>
                                <input class="form-control1" type="text" placeholder="شماره تماس" required/>
                                <!--<br/>-->
                                <div>
                                    <label class="container"><p class="text">تمام <a
                                            href="https://google.com">قوانین</a> را
                                        پذیرفتم</p>
                                        <input class="checkmark" type="checkbox" name="rules" required/>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <br/>
                                <!--<br/>-->
                                <!--<br/>-->
                                <div>
                                    <button class="btn btn-primary" type="submit">ثبت نام</button>
                                    <button class="btn btn-primary1" type="button" @click="change_pages1">ورود
                                    </button>
                                </div>
                            </form>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/login%20vuejs.js"></script>
</body>
</html>
